[2022-03-30 20:04] matjack1 commented on #493
hey @paoloros97 and @grahamsingle it looks like you have the wrong version of ArduinoJson installed. Can you please try cleaning the target that you are compiling and trying again?

This might happen if you were on `stable`, got the old version of ArduinoJson, then moved to `dev`. Platformio doesn't get automatically the new version and happens what you are experiencing.

Let me know if how it goe

[2022-03-30 20:11] matjack1 commented on #464
I'm going to close this for now as I think there's no more interest, but please reopen if you need any help

[2022-03-30 20:11] #464 closed, assigned to nobody

[2022-03-30 20:15] matjack1 commented on #394
yes @joni9990 it's now slightly improved since when you tried. If you go in tools/webfilesbuilder, then you install the npm packages with `npm i` and then run `npm start` it should "compile" the web ui and prepare it to be flashed.

I'm going to close this for now, but please reopen if necessary.

[2022-03-30 20:15] #394 closed, assigned to nobody

[2022-03-30 20:16] matjack1 commented on #386
This is a bit old, but I have plans to release a new stable version soon. I'm working on some wifi improvements, then some websocket reliability improvements and then we should be ready to wrap some new documentation up and release!

Let's say a month more or less? 🤞

[2022-03-30 20:16] #386 closed, assigned to nobody

[2022-03-30 20:17] matjack1 commented on #382
Not sure what the problem is here, I'm closing for now, but please reopen if you need to!

[2022-03-30 20:17] #382 closed, assigned to nobody

[2022-03-30 20:19] matjack1 commented on #380
Hey @lerra yes, I know, I completely agree with you, but unfortunately I think this is not really feasible with an ESP8266 :(

I think you should run this on a secure wi-fi network with only a very limited access as the communication to and from the ESP are going to be unencrypted.

But please prove me wrong, I would be really happy if it was possible to encrypt web and mqtt traffic!

[2022-03-30 20:19] #380 closed, assigned to nobody

[2022-03-31 12:51] domoticauser commented on #492
It only reacts on a tag, not when using the keypad.
Is this what you need?

[ INFO ] PICC's UID: XXwasIDXX
[ INFO ] Mqtt Publish:{"type":"WARN","src":"rfid","desc":"Unknown rfid tag is scanned","data":"XXwasIDXX 26","time":1648730713,"cmd":"event","door":"esp-rfid-1"}
[ WARN ] rfid | Unknown rfid tag is scanned | XXwasIDXX 26
[ INFO ] Mqtt Publish:{"cmd":"log","type":"access","time":1648730714,"is

[2022-03-31 14:40] paoloros97 commented on #493
I tried to start it again from scratch. I downloaded again the repository `git clone https://github.com/esprfid/esp-rfid.git`
then `platformio run -t clean`
and finally `platformio run`.

This is the version of ArduinoJason installed:
![image](https://user-images.githubusercontent.com/56552809/161081241-a97c9951-642a-46b9-9a3c-6b14730c722e.png)

But I got the same error :(
![image](https://user-im

[2022-03-31 15:03] domoticauser commented on #443
I didn't get it at work. MQTT is working with nodered and domoticz,  so that works fine.

[2022-03-31 19:44] matjack1 commented on #443
Did you configure the MQTT broker correctly? Are you listening to the right MQTT topics?

You should find here: https://github.com/esprfid/esp-rfid/blob/dev/README-ADDON.md the documentation around the MQTT topics that are used, OK? Let me know how it goes!

[2022-03-31 19:45] matjack1 commented on #492
Thank you @marktn that's perfect.

Are you using the Wiegand pad, right? Then, have you added the "pincode requested" flag in the settings? You should enable that, it's not on by default.

[2022-03-31 19:46] matjack1 commented on #493
@paoloros97 once you've downloaded the project, you should switch to the `dev` branche.

So, clone the project, then:

`git checkout dev`

And then try again the compilation and let me know!

[2022-03-31 19:46] domoticauser commented on #492
Where do I find that settings? I could not find that.

[2022-03-31 19:57] matjack1 commented on #492
There should be a "Pin code requested" if you pick the Wiegand option in the "Hardware settings". Can you find it? If not, please send me a screenshot so that I can double check, thanks!

[2022-04-01 06:28] paoloros97 commented on #493
Thank you @matjack1 it nicely worked!
![image](https://user-images.githubusercontent.com/56552809/161207375-d09c004b-6133-47ba-85eb-ffba5729cab8.png)
:)

[2022-04-01 07:43] matjack1 commented on #493
YES! Thank you for the feedback ;)

[2022-04-01 07:43] #493 closed, assigned to nobody

[2022-04-01 10:49] jc911 commented on #370
Yeah!
It was sovled on the latest dev branch! I confirmed it a few days ago!
Thank you very much!!! @matjack1

[2022-04-01 11:15] matjack1 commented on #370
Yay, thank you @jc911! I'm going to close the other one as well for now then. Nice! :)

[2022-04-01 11:15] matjack1 commented on #302
I'm closing this as it's reported to be working here: https://github.com/esprfid/esp-rfid/issues/370#issuecomment-1085748230 but please reopen if necessary.

[2022-04-01 11:15] #302 closed, assigned to nobody

[2022-04-02 09:55] domoticauser commented on #492
Yes i found that, set it to true.
Only nothing happens, also in the serial monitor and log there is nothing happening.

[2022-04-02 10:22] domoticauser commented on #443
Hi,

I think it is correct, maybe i am missing something...
In the MQTT explorer and serial it all looks fine.

Update:, when i delete the topic in the MQTT explorer it gives an error.

![MQTT-Explorer_2022-04-02_12-17-32](https://user-images.githubusercontent.com/11601535/161378782-27fb983f-a4a0-40b9-af32-918099bc336b.jpg)

![firefox_2022-04-02_12-18-48](https://user-images.githubusercontent.com/

[2022-04-04 07:34] omersiar commented on #251
Addressed with #495.

[2022-04-04 21:48] matjack1 commented on #439
@evazzoler this is now fixed with this PR: https://github.com/esprfid/esp-rfid/pull/495 in the dev branch. Thank you for reporting!

I'm closing this for now, but please reopen if necessary.

[2022-04-04 21:48] #439 closed, assigned to nobody

[2022-04-04 21:49] matjack1 commented on #437
I'm closing this for now as no additional feedback has been provided and the latest PR: https://github.com/esprfid/esp-rfid/pull/495 on the dev branch adds a bit more functionality for this.

Please reopen if needed though.

[2022-04-04 21:49] #437 closed, assigned to nobody

[2022-04-04 21:54] matjack1 commented on #251
@araziforum @spatnynick @Empire99 @frenchie71 I've addressed this with this PR: https://github.com/esprfid/esp-rfid/pull/495 on the dev branch.

You can now disable the fallback AP mode and if you do that it will wait and try reconnecting to WiFi every minute.

I'm closing this for now, but reopen if necessary, thanks!

[2022-04-04 21:54] #251 closed, assigned to nobody

[2022-04-05 05:12] Empire99 commented on #251
Hello, can someone add binary files with latest changes? I am trying to buid it with platform io and only get a lot of errors.

[2022-04-05 08:05] matjack1 commented on #251
hey @Empire99 you can get the binaries from here: https://github.com/esprfid/esp-rfid/suites/5917945892/artifacts/202137764

While for the compilation, you should use the `dev` branch and make sure to run a clean first so that it gets the latest dependencies. Let me know how it goes! :)

[2022-04-05 15:18] matjack1 commented on #492
hey @marktn if you have a chance, try this PR: https://github.com/esprfid/esp-rfid/pull/496

You can find the binaries at the bottom of this page: https://github.com/esprfid/esp-rfid/actions/runs/2097087754

[2022-04-05 15:23] matjack1 commented on #443
Hey @marktn I think we are hijacking this issue to something else from the Domoticz integration? :)

Maybe you can open a separate issue where we continue discussing about the Nodered integration. While we are on the topic though, can you help me reproduce your setup so that I can try understanding better how this works? I'm not familiar with Nodered, sorry.

[2022-04-05 15:41] matjack1 commented on #319
Thank you for this report, it makes total sense!

I've fixed it in here: https://github.com/esprfid/esp-rfid/pull/497

I'm closing this for now, but please reopen if necessary.

[2022-04-05 15:41] #319 closed, assigned to nobody

[2022-04-06 11:53] #392 closed, assigned to nobody

[2022-04-06 21:09] matjack1 commented on #470
hey @hinkma and @CountParadox we have implemented recently support for beeper and LED for access denied or for pincode waiting:

![immagine](https://user-images.githubusercontent.com/65402/162071316-de5fea8e-4be2-4225-83d0-130ba438e730.png)

you can wire them to the wiegand led/beeper, right?

[2022-04-07 16:46] domoticauser commented on #443
Yes and no. When MQTT to Node-red works, it can send the information to Domoticz.
I will make a seperate issue! MQTT to node-red.

[2022-04-07 16:56] domoticauser opened #500 "MQTT to Node-red"
Is it possible to let MQTT connect to node red?

When connected, there are many possibilities with esp-rifd! https://nodered.org/
It will connect with a lot o domotica systems.  Nice to see the user that logs in, pincode, rifd tags etc..

I don't know who wrote this, https://www.youtube.com/watch?v=jKuAQTV5Fts
There is a node red connection?

At this time it does not work.
![firefox_2022-04-02_17-

[2022-04-07 17:18] domoticauser commented on #492
No, that did not work.
I have programmed a pin in the keypad, that is no problem?
Also did use a number that is not programmed in the keypad.

[2022-04-07 20:08] matjack1 commented on #343
this is present and documented in the `dev` branch, I'm closing this, but feel free to reopen if necessary!

[2022-04-07 20:08] #343 closed, assigned to nobody

[2022-04-08 14:58] hinkma commented on #470
Hi. I can test weekend. Thanks.

[2022-04-08 15:27] hinkma commented on #470
Can some one build ESP12E program?
I can try build program and give next fault:

[{
	"resource": "/c:/Users/Marko/Desktop/RFID/esp-rfid-2.x/esp-rfid-stable/esp-rfid-stable/.pio/libdeps/generic/ArduinoJson/src/ArduinoJson/JsonObject.hpp",
	"owner": "cpp",
	"severity": 8,
	"message": "no matching function for call to 'ArduinoJson::JsonVariant::as<long long int>() const'",
	"startLineNumber": 283,
	"

[2022-04-08 15:45] hinkma commented on #470
I can build, my mistake. Problem in Platformio

[2022-04-10 07:41] hinkma commented on #470
First thing, I use dev  branch, I can't build and upload new program to ESP. ESP stuck boot loop at the start. I build new program and transfer that by webui update when older version is installed , then new program start.
Second things, logs not working locally, maybe MQTT, I am not tested jet.
Reader LEDs and buzzer work properly.
Two cosmetic things, if 'Pin code requested' is false, can 'Pin w

[2022-04-10 10:31] stupsi099 commented on #492
@matjack1 with your file from the link with date 5.4.22 and v2board.bin it does not read badges with my HID multiCLASS SE RP10.  With the version from 29.11.19 it work. I set the keypad to false - it have not any. Br stupsi99

[2022-04-11 14:28] Aleks130699 commented on #413
When the Home Assistant integration is turned on, the module stops working and the web page stops opening

[2022-04-12 23:36] mkshb commented on #442
@matjack1
The log view problem is still there, right?

Here is my debug log when i open up user logs:

`[ INFO ] Mqtt Publish:{"type":"heartbeat","time":1649806520,"uptime":47,"ip":"10.10.10.238","hostname":"esp-rfid"}
[ INFO ] Nextbeat=1649806520
[ INFO ] Mqtt Publish:{"type":"heartbeat","time":1649806521,"uptime":48,"ip":"10.10.10.238","hostname":"esp-rfid"}
[ INFO ] Nextbeat=1649806521

Excepti

[2022-04-21 20:44] windy54 commented on #448
Hi Mateo,
I am ready to try this, I have downloaded the source and built it, uploaded it and it does not work.
Is there a pre-compiled binary I can use?

I have tried looking through GitHub but can’t find one.

Cheers
Steve Gale

[2022-04-23 17:05] Tinker-Bel commented on #397
Hello,
I've tried with version 1.3.7 and now it seems to work!
After commiting and restarting, you have to be a little patient, but then it works.
I tested with an Iphone and Safari.

One difference with f.i. chrome: after you put in your password, you get a new screen with a username and password field.
On Chrome, on startup, I only get an password field, not a username field!

[2022-05-04 18:53] windy54 opened #505 "Latest dev release not responding to MQTT messages."
I have built the latest dev release and have no errors.

My MQTT broker is installed on a Raspberry PI.
I can see messages the RFID system is transmitting in the broker window and also on the serial interface from the esp-rfid.

The esp-rfid does not respond to any received messages.
Following screenshot shows the settings,

my broker is at 192.168.4.45 and the esp-rfid at 192.168.4.49

The follow

[2022-05-12 11:17] fdiazf19 commented on #464
Hello, is there any way to compile the  `stable` branch? I've been trying the `dev` one but there is many bugs related to Access Log and adding new users compared to `stable` branch compiled files.
This happens when i use a card in the reader, instead of showing the typical add user tab:
![image](https://user-images.githubusercontent.com/91062286/168062547-97eed9f2-f40e-44e4-8307-457204fb63e7.png)

[2022-05-18 07:50] vvvyky opened #506 "Rc522 card reading UI has no pop-up window and scanning is abnormal."
The new window does not pop up in the development version rc522 card reading, and the scanning is abnormal.
![微信图片_20220518152416](https://user-images.githubusercontent.com/38814385/168986308-a48081d5-d139-4485-a127-a3a751ecc9bf.jpg)

[2022-05-21 15:42] gorstj opened #507 "Hardware purchase"
Hi,

Does anyone know if there are any alternative hardware suppliers?

The Tindie page linked (the original or the 'blue' board) don't seem to ship. I have purchased but then I am refunded as it hasn't shipped after a few weeks. The seller isn't answering emails.

Any idea of suitable alternatives
(don't think I could make my own with ESp8266 board as there are two many voltage changes 3.3<-->12v

[2022-05-28 11:39] omaxali opened #508 "Getting time from an RTC"
Hello dears,
Can the code be changed to get the time from an external I2C RTC like DS3231 module instead of internet?
The time does not persist during reboot, without the internet connection.
Thank in advance

[2022-05-28 19:11] Leissson commented on #492
Pincode is not working as an only option. It is either RFID or RFID+pincode. @matjack1 do you have any intention to integrate option for only keypad entry?

[2022-05-28 19:16] domoticauser commented on #492
I need both. But the pincode is not working. Rifd works.

[2022-05-31 10:00] alexandergeiler opened #509 "Source code 1.0.4?"
Hi,

I have version 1.0.4 installed at my board. Where can I find the source code for that release?
![1 0 4](https://user-images.githubusercontent.com/4689177/171148111-e49c1b23-f907-4f85-aa84-8e0990b65272.png)

[2022-06-03 06:46] thbl opened #510 "Awesome project !"
This project is really awesome ! Is anyone from the team available for hiring to do a custom version ?
@omersiar @matjack1

[2022-06-03 11:25] adcrafter27 commented on #320
I am also looking for that

[2022-06-05 11:02] yotta33 opened #511 "How to change the bits of wiegand ?"
I would like to know how to change the bit of the wiegand like Wiegand 26.

[2022-06-09 10:10] giutrec commented on #511
It is necessary to have a multibit device, often these devices have a pin to be powered for switching between 34 and 26 bits, esp-rfid recognize automatically the bit (26 or 34) of the reader.

[2022-06-15 00:15] khumprp commented on #6
Sorry for reviving the dead - I'm using a TTGO TDISPLAY where the RST pin is not made available in pinout. It's used to control the TFT I believe.

I'm trying to figure out how to bypass the need for the RST pin. Here's my code:

MFRC522 mfrc522(SS_PIN, UINT8_MAX);  // Create MFRC522 instance

Unfortunately, no luck.

The RC522 works when I hook it to a different ESP32 where the RST is available.

[2022-06-15 11:32] giutrec commented on #505
you have to send the commands on the cmd queue and he writes on the send queue

[2022-06-15 13:01] windy54 commented on #505
Yes but my problem is receiving commands

[2022-06-15 16:39] giutrec commented on #505
the dev I've been using for months and it works perfectly, it doesn't respond to you because you write the command on the wrong queue, try this:

mosquitto_pub -h 192.168.4.45 -t maindoor/cmd -m '{"doorip":"192.168.4.49:,"cmd":"opendoor"}'

and the same goes for the messages he writes go to the send sub-queue

example: mosquitto_aub -h 192.168.4.45 -t maindoor/send

[2022-06-15 16:58] windy54 commented on #505
I understand what you are saying now, I will try that and see what happens.
Thanks for replies

[2022-06-17 06:53] DpunktS opened #513 "Timer"
Is it possible to add a timer.  For example: User1 may only arrive from 06:00 to 18:00 daily.

[2022-06-19 17:05] henfri commented on #399
Hello,

I found something very concerning:
I have learned several Fingers. When a finger is now pressed on the reader, it sends the UID - starting with 1 - to the reader.
![esp-rfid-1](https://user-images.githubusercontent.com/5280909/174492258-dffda7b7-015f-4d63-bd65-da740a683eca.png)
So far so good.
![esp-rfid-2](https://user-images.githubusercontent.com/5280909/174492427-b80c14be-e296-44ad-bb13

[2022-06-19 22:26] henfri commented on #507
Marelab.org uses a fork of esprfis and sells boards.

[2022-06-20 16:12] GosubGosub commented on #509
Seems to be some local fork not available on github.

I updated my board to the latest dev build -- works fine.

![image](https://user-images.githubusercontent.com/62539970/174642707-10a6daf3-1856-4c11-b057-315216ab086e.png)

https://github.com/esprfid/esp-rfid/actions/runs/2455804973

Upload generic.bin from the bins.zip.

[2022-06-21 03:38] mtfurlan opened #518 "Code mixes tabs and spaces"
I noticed that there is a mix of tabs and spaces.
I'm happy to make a PR to clean that up, but which way should it go?
I would personally prefer spaces, but I'll make it consistent either way.

[2022-06-22 17:10] omersiar commented on #518
Hello,

Spaces are nice 😊 .

[2022-06-22 21:13] windy54 commented on #505
Adding /cmd as suggested above solves this issue so it can be closed.
Now go to look at getuserlist, it seems to stop after 11 users but does not crash

[2022-06-22 21:13] #505 closed, assigned to nobody

[2022-06-23 17:33] henfri commented on #399
Sorry, I missed this one.
I have the same problem.
For all three options (Key, Finger, Card), the device seems to send only approximately evey third time something over wiegand.
@luby1 were you able to solve this?

Best regards,
Hendrik

[2022-06-23 19:31] mtfurlan commented on #518
What about
[code]
 vs
[code]
 ?
 I thought there was only the former but I just found some of the latter.

Would you be interested in having an [uncrustify](http://uncrustify.sourceforge.net/) config?

I dunno what the best way to keep the codebase in line with a config would be though.
At $work I don't allow a PR to merge if it doesn't pass an automated run of the linter, but that seems like it m

[2022-06-24 20:03] windy54 opened #520 "MQTT getuserlist command does not output every user"
I have built the dev branch as both debug and generic, both exhibit similar issue.
Initially I built the debug branch and found that when I issued the MQTT getuserlist command it only output 12 users and the 13th was empty, even when there was 20 users.
For less than 12 users it is okay. In order to investigate I added extra serial output but could not see where it was failing.
In mqtt.esp functio

[2022-06-25 21:36] windy54 commented on #447
I have got this issue with the dev branch and a debug build.
The hardware is okay because I rolled back to the version we use in our hackspace and that reads cards.

[2022-06-25 23:13] luby1 commented on #399
Hi Hendrik, while I confirmed it is the unit itself rather than Fanvil video phone/controller, after spending too much time on the various configurations, I gave up at the end.

During initial testing when I had short cables and everything was inside, I never had a problem. Maybe it was pure luck then, but I do think it has something to do with stable temperature and/or air moisture level. For exa

[2022-06-26 18:48] henfri commented on #399
Hello,

so, you gave up to improve it, but you are still using it, right?
What is your success-rate now? We are above 22°C here currently and the Device is exposed to sunlinght and thus even warmer.
Have you figured out, what the `532`(virtual key) vs `531` and `530` modes mean for the Keypad usage?
I have the LED signal not connected (only 12V and the two Wiegand wires).
I was also thinking that

[2022-06-26 20:01] luby1 commented on #399
Yes, I use it and have learnt not to be too annoyed when it is not behaving. Just as I wrote that reply to you yesterday, the day became sunny and the keypad was exposed to it, and lo behold it failed first time after 2 days of stability. So I just rubbed the keypad all over, pressed '#' and then I was able to get it to go. Length of wires was my early suspicion but I have no way of proving it now

[2022-06-27 09:58] windy54 commented on #447
I have investigated this with my MFRC522 reader and from what I can see rfidState is never set to card swiped.
mfrc522Read updates the uid and type but does not update rfidState.
So I have updated as shown below.
`#ifndef OFFICIALBOARD
void mfrc522Read()
{

	if (!mfrc522.PICC_IsNewCardPresent() || !mfrc522.PICC_ReadCardSerial())
	{
		return;
	}

	mfrc522.PICC_HaltA();
	cooldown = millis() + COOLDO

[2022-06-27 20:31] windy54 commented on #520
After talking it through with another hackspace member , instead of transmitting
mqttPublishEvent(&root);

it should be &json.

this then outputs all 100 of our current members sequentially in separate messages,
each message identical to the list of users on the webpage.

Steve

[2022-06-27 20:40] windy54 commented on #447
When I made the above change "Beeper ON" was constantly being output on the serial interface making it difficult to see what was happening.
This was caused by this line in beeperBeep
if (config.beeperpin != 255)

beeperpin was 0 even though I set it to none in the config page.

So my configuration is not being saved correctly .
I overcame it temporarily be editing the config.esp to force beeperpin

[2022-06-27 21:20] luby1 commented on #399
BTW, I just did more tests with tag, and I can tell you that tag reading is almost 100% reliable. It has to be placed close to "0", and there is an ideal distance from the reader (not too far, but not touching it either). I also found that fingerprint is also sent to fanvil all the time, but obviously sometimes reader doesn't find the match if you don't place the finger properly, and this is indic

[2022-06-28 08:05] windy54 commented on #387
I think you would run out of memory. I have been looking at the dev branch . It allocates 512 bytes for a Jason dictionary which enables it to transmit 13 user id’s double it and you get 24. I have got 130 users on our system.  Sending them in individual messages means you would guarantee sending them all

[2022-06-28 09:02] windy54 commented on #331
Install vscode and platform io extension. Download code from GitHub and open in vscode, click on the  “tick” icon to build.
I posted this and then noticed the instructions on the main page and I have fixed this in our hackspace version by deleting the 1000

[2022-06-28 20:04] matjack1 commented on #510
hey @thbl we can discuss a bit, but as you can see from the delay in getting back to you, I'm a bit busy now. I think I'll have more time from October, but depends on what you need. Feel free to send me an email at matteo@turnintocoders.it with more details :) Thanks!

[2022-06-28 20:04] #510 closed, assigned to nobody

[2022-06-29 16:57] matjack1 commented on #464
hey @fdiazf19 have you tried to install the new branch on an esp with data created with the stable branch? Maybe that's why is not working properly with existing data?

The stable doesn't build anymore because the platfom and the libraries didn't have specific versions specified and so now it's fetching the latest ones and doesn't build.

Unfortunately I don't know which version was working the la

[2022-06-29 16:58] matjack1 commented on #442
hey @mkshb sorry for the long delay here, but if you are still interested I think now the bug is fixed, if you can reproduce again with the latest dev version let me know!

[2022-06-29 17:01] matjack1 commented on #448
hey @windy54 you can find the latest dev binaries here: https://github.com/esprfid/esp-rfid/actions/runs/2543602273

Let me know if you can try again! Sorry for the delay :(

[2022-06-29 17:09] matjack1 commented on #492
@Leissson no sorry I don't think it's a good security practice to have pincode only. It's very easy to copy, pass around, etc.

So no, I don't plan allowing that alone nor I do recommend using that, sorry!

[2022-06-29 17:09] matjack1 commented on #492
@marktn have you tried with a recent dev version?

Can you try running it in debug mode and pasting here the logs so that I can try understanding what's wrong?

[2022-06-29 17:10] #511 closed, assigned to nobody

[2022-06-29 17:15] #509 closed, assigned to nobody

[2022-06-29 17:24] windy54 commented on #448
I should have updated my message, I have downloaded the source and re-built it.
Still had some issues which have solved, had to edit (from memory) rfid.esp to set rfidstate to cardswiped and mqtt.esp getUserList() to publish json not root.
I have put the details in other posts.
Had some other issues with SPIFFS being write protected so it would not save a new user, got round this by erasing the fl

[2022-07-02 15:05] windy54 commented on #447
For some reason my SPIFSS was write protected, I reformatted the ESP and it has been ok.
I am onto my next problem.

[2022-07-02 15:13] windy54 opened #522 "Missing MQTT "cmd" key in message causes sytsem crash"
I have been investigating issues with addusers over MQTT and my system kept crashing beause I had forgotten to add the "cmd" key to the message.
Other keys like doorip are checked for and onMQTTmessage in file mqtt.esp returns if this key does not exist.

In my test build I have modifed onMQTTmessage and added a test
`if (!mqttIncomingJson.containsKey("cmd"))
	{
#ifdef DEBUG
		Serial.print("[ INFO

[2022-07-12 17:48] vvvyky commented on #506
Rc522 card reading does not play. Can this problem be solved?

@matjack1

[2022-07-12 19:47] matjack1 commented on #506
@vvvyky I'm sorry but I cannot help you on this as I don't have a Rc522 card reader and I'm not using it in my project :(

[2022-07-25 19:34] gorstj commented on #492
It depends on the risk behind the door!

mot should be an option?

[2022-07-25 19:35] gorstj commented on #492
When there is no pin code for a user I still need to press ‘#’ to activate the relay

if there is no code for a specific user I would expect the relay to activate as soon as the card is presented?

[2022-07-25 20:12] matjack1 commented on #492
@gorstj

Sure, but if you just need a pincode I don't think you need the complexity of this project? Or maybe I'm not understanding your use case :)

yes, it should! If it doesn't work double check if the pincode required setting is disabled?

[2022-07-25 20:28] gorstj commented on #492
I like having a super complex pin code as a backup if I’m locked out without my fob/card (or can text to someone)

I want the flexibility of having a pin for some rfid fobs but not others (some are less likely to be lost than others)

[2022-07-26 00:43] nicholh opened #527 "1.3.3 binary is actually 1.3.1"
Hi,

I am having trouble getting the binary for 1.3.3. I have some boards currently running 1.3.3, but when i flash some new boards with the 1.3.3 binary downalod from Github it is actully 1.3.1.

1.3.1 does not seemt to connect to my wifi (and i am not sure about MQTT). I have tried 1.3.7 and this works but drops wifi all the time.

I was hoping sombody here could let me know where to get a cpy o

[2022-07-26 09:41] windy54 commented on #506
I have fixed this in my local copy,had to set rfid state ,
Still had some issues which have solved, had to edit (from memory) rfid.esp to set rfidstate to cardswiped
I can’t find the post where I pasted the edit! Will do that when I get home. There is a function mfrc522 which reads the card and prints details of debug enabled . I had to set rfidstate in that function

[2022-07-29 14:59] windy54 commented on #394
It would be great if the ReadMe was changed to actually add the instructions matjack1 provided above.
I saw the instructions on the readme but using js before did not what to do.

[if you want to edit esp-rfid's Web UI you will need (unless using compiled executables):

NodeJS
npm (comes with NodeJS installer)
Gulp (can be installed with npm)
Cd to the tools/webfilesbuilder folder
npm i
npm start

[2022-08-30 10:52] t0bse commented on #427
any news on this?

[2022-09-03 22:53] DjordjeMandic commented on #427
You can use either the SPI ones like W5500 W5100 ENC28J60 with ESP8266 or utilize hardware eth mac of ESP32 and just add eth phy module like LAN8720.

Keep in mind that LAN8720 is just physical layer that can be used with ESP32's intergrated ethernet mac.

For ESP8266 you must use SPI modules like W5500 W5100 ENC28J60

[2022-09-04 12:01] mkrasselt1 commented on #427
So for all of you, yes I am still working on it - but I plan to update the PCB as well :))

[2022-09-07 15:55] windy54 commented on #474
How did you fix the second error ".. matching function for call...."

[2022-09-15 20:29] DivanX10 opened #530 "How to reboot ESP-RFID via MQTT in Home Assistant?"
I went through the topics and did not find an answer to my question, how to reboot ESP-RFID via MQTT in Home Assistant? I tried it and it didn't work out

* '{ "send":"restart"}'
* '{ "send":"restart", "doorip":"192.168.1.48"}'
* '{ "cmd":"restart"}'
* '{ "cmd":"restart", "doorip":"192.168.1.48"}'

[code]

[2022-09-16 15:10] IvanIzquierdoJimenez commented on #530
Hi, in the mqtt.esp no include restart how cmd command, yo need add this command on .esp file

[2022-09-16 16:10] DivanX10 commented on #530
Thanks, but I can't do it. If only the author can add to the firmware. I do not know how to add these commands to mqtt.esp and how to upload it to nodemcu later.

[2022-09-16 16:26] IvanIzquierdoJimenez commented on #530
You need VScode and platformio to compile and modify the code, if you need something help, tell me

[2022-09-16 16:47] DivanX10 commented on #530
Yes, it would be great if you could show me what and how. For example, what code to add to the mnt.esp file and how to assemble it later, or I will be grateful for the finished firmware with the built-in command to reboot ESP-RFID

[2022-09-16 18:56] IvanIzquierdoJimenez commented on #530
Yes, I will see how to make this, and tell you my progress.

[2022-09-27 12:21] evazzoler commented on #530
IMHO it would be better if you put a home assistant relay in front of esp-rfid. That way you'll be sure to reboot esp-rfid even when/if it is totally frozen.

[2022-09-27 12:26] evazzoler opened #531 "Confusing with branches"
Hi,
because I see that branches readme files are not mantained (they are identical), please, insert a global block with a simple line per branch explaining what the purpose of that branch is. I hope one day they will be merged and not become real forks... ;-)
Thank you!

[2022-09-27 12:28] matjack1 commented on #531
hey @evazzoler we have only two real branches, the others are just work in progress that I need to finish. I'm very likely to come back to the project very soon and hopefully release all the new stuff as a v2. I still want to finish the work here, it's just that I don't have time at the moment, sorry.

[2022-09-27 12:28] #531 closed, assigned to nobody

[2022-09-27 12:29] evazzoler commented on #508
It would be very useful!
The best would be to set from GUI the GPIO for the optional I2C RTC connection...

[2022-09-27 12:42] evazzoler commented on #492
@ matjack1 consider different points of view:

1) Pincode cannot broken, cards and token can
2) Pincode cannot be lost but can be forget only. If you forget a pincode nobody can find it, if you loose a card or token somebody can find it and use it
3) If you loose your card (in card+pin mode), nobody can use the card without pin, but you can't use the pin without card
4) In front of a door while yo

[2022-09-27 13:08] matjack1 commented on #492
I see your points @evazzoler actually I was thinking of a pin code of 4-5 digits, but I can appreciate what you are saying, makes sense.

It shouldn't be difficult to add this support, I'll do it, maybe we should enforce some complexity level? What do you think?

[2022-09-27 13:29] evazzoler commented on #492
OK. I've implemented a lot of features serverside via MQTT based on a mysql DB. Some people working in home security found some of those functions interesting.  If you like, I could list them and you can take what you prefer. It would be better/faster to speak about by phone, then write down a list. I suppose we speak the same language... If you want, I can PM to you my phone#.

[2022-09-27 14:27] t0bse commented on #492
6. if you use this project for a simple door, like in your garden (could also jump over the fence) it's also very useful if only a pincode is required. i think you should implent a pincode with at least 6 digits and warn the user.

[2022-09-27 18:36] stupsi099 commented on #492
is there a newer test version (.bin) for my original green board??  the online version 1.3.x have problem with webrefresh.
any download link ?
br rupert

[2022-10-08 22:38] danielschonfeld opened #532 "Pushing a whole user list or retrieving via URL"
In some installations, it might be less brittle to not sync one user at a time via MQTT, but rather do one of either or even both:

1) Push a whole user list from a master server to all ESP-RFID devices via some kind of a POST request
-or-
2) Have the ESP-RFID device continuously interrogate a URL with a get request to update its list of users and their associated weigand codes

(1) and (2) are no

[2022-10-09 07:59] windy54 commented on #532
Not sure about 2, I would sooner “manually” update a list of users.  When I have been testing the dev branch with a view to updating our software, I have found the MQTT approach to be reliable as long as I add a delay between transmission of MQTT messages. ( I have not looked at using the response from the esp-rfid) we have about 100 users and I have found when restoring from an old file to be unr

[2022-10-09 20:28] danielschonfeld commented on #532
(1) works, but really anything that is a bit more atomic than one at a time.  When controlling a few of these devices over several locations, with one centralized server (imagine multiple buildings in the same community) - it's more reassuring to know, that once you've updated the centralized server a full fresh copy has been sent to the associated controller and has been accepted.  Rather than fi

[2022-10-11 08:13] windy54 commented on #505
I have finally managed to test it and you are correct, thanks for response

Steve

On Wed, 15 Jun 2022 at 17:39, giutrec ***@***.***> wrote:

[2022-10-22 01:14] rodrigodc299 commented on #479
Hy, same error.
I installed the last version of noedjs and
I followed the steps, i get an error while executing npm start
https://user-images.githubusercontent.com/50978042/153131805-59989fe4-8ca4-4a9d-bb69-6730cbbc2a21.png
 Can you help me Pleaseeee?

[2022-10-22 16:10] matjack1 commented on #500
@marktn you can connect to a Node Red instance using MQTT, yes. You should write your own connection though :(

Here, on the `dev` branch: https://github.com/esprfid/esp-rfid/blob/dev/README-MQTT.md you can find all the documentation of what you can do with MQTT.

If it's possible to simplify the connection and you make something, let us know, thanks!

[2022-10-22 16:13] matjack1 commented on #492
@evazzoler thanks, feel free to reach out to me via email if you want :) I don't have much spare time to work on this project, but it's interesting :)

[2022-10-22 16:14] matjack1 commented on #492
@stupsi099 you can find the binaries of the latest build of today here: https://github.com/esprfid/esp-rfid/actions/runs/3303810816 at the bottom of the page

[2022-10-22 16:15] matjack1 commented on #506
@windy54 can you please share the fix that you have found? Thanks!

[2022-10-22 16:16] matjack1 commented on #507
@nardev are you shipping new boards?

[2022-10-22 16:19] matjack1 commented on #518
As I mentioned here: https://github.com/esprfid/esp-rfid/pull/524#issuecomment-1179301580 I don't mind which way you prefer, so long as it's automatically set up by VS Code and ideally in the CI, so that we cannot break it again :) Thanks!

[2022-10-22 16:23] nardev commented on #507
Yes

On Sat, Oct 22, 2022, 12:16 PM Matteo Giaccone ***@***.***>
wrote:

[2022-10-22 18:17] windy54 commented on #506
in rfid.esp I edited mfrc522Read() to add the line rfidState=cardSwiped

`
void mfrc522Read()
{
	if (!mfrc522.PICC_IsNewCardPresent() || !mfrc522.PICC_ReadCardSerial())
	{
		return;
	}
	mfrc522.PICC_HaltA();
	cooldown = millis() + COOLDOWN_MILIS;
	for (int i = 0; i < mfrc522.uid.size; ++i)
	{
		uid += String(mfrc522.uid.uidByte[i], HEX);
	}

	MFRC522::PICC_Type piccType = mfrc522.PICC_GetType(mfrc

[2022-10-22 18:36] matjack1 commented on #507
Excellent!

So whoever is interested can buy from @nardev a custom board here: https://www.tindie.com/stores/nardev/ !

[2022-10-22 18:36] #507 closed, assigned to nobody

[2022-10-22 18:39] matjack1 commented on #320
@WAVez86 @adcrafter27 there's already an issue here: https://github.com/esprfid/esp-rfid/issues/530 to restart the device via MQTT (the currently supported API).

But is your problem occurring with the `dev` branch?

[2022-10-22 18:42] matjack1 commented on #532
@danielschonfeld makes sense. How many users are you looking to import in one go?

I'm no MQTT expert, but would that be possible to send a big list of users in one single MQTT message? Would that be reliable?

[2022-10-22 18:54] matjack1 commented on #447
looks like a duplicate of this: https://github.com/esprfid/esp-rfid/issues/506

I'm closing this one, but feel free to reopen if necessary.

[2022-10-22 18:54] #447 closed, assigned to nobody

[2022-10-22 18:57] matjack1 commented on #387
@windy54 I was thinking the same thing about running out of memory, but surely we can make the JSON bigger, we just need to check how much bigger we can make it to see if we can maybe send at least pages of users, probably better than one at the time, right?

[2022-10-22 18:57] nardev commented on #507
You can ask for customization

On Sat, Oct 22, 2022, 2:36 PM Matteo Giaccone ***@***.***>
wrote:

[2022-10-22 19:01] matjack1 commented on #527
hey @nicholh sorry for the delay here, the v1 is outdated and we are working towards releasing a v2.

Meanwhile, you can get the last build from here: https://github.com/esprfid/esp-rfid/actions/runs/3303810816 at the bottom of the page

[2022-10-22 19:01] #527 closed, assigned to nobody

[2022-10-22 19:12] windy54 commented on #387
I am quite happy with one at a time, it is not something I would do that often . When I tested it I had a delay of 0.1 secs between messages and uploaded 150 members. It took 15 secs which I am happy with on an occasional basis.
Not part of this comment but I have had trouble restoring 150 users from a file, have not had time to investigate .

[2022-10-22 19:37] matjack1 commented on #513
What you can do now is this:

![immagine](https://user-images.githubusercontent.com/65402/197359254-7704bc05-4260-40f1-ad58-956e66259c98.png)

you can pick opening hours for standard users, admins will open all the time.

The interface can surely be improved, but the feature works :)

I'm closing, but if you need anything else feel free to reopen.

[2022-10-22 19:37] #513 closed, assigned to nobody

[2022-10-22 19:38] matjack1 commented on #387
Thank you very much for the feedback!

[2022-10-22 21:07] matjack1 commented on #350
@omersiar I would like to setup the issue templates in order to make it easier to open issues and to remove this one.

Following the docs: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository I guess I need some additional permission? Can you help me, please?

[2022-10-25 10:59] Kawaiito opened #538 "support Gwiot 7941E?"
So i testing my UART Reader Gwiot 7941E but it dont work TX is in D5. I Selecting the RDM6300 at hardware settings its a uart reader too.

[2022-10-25 16:45] henfri opened #539 "Relay2 to mqtt"
Hello,

I see that it is possible to activate more than one relay. But unfortunately, this does not seem to work on the mqtt side.
Currently, when presenting a tag of a user for which Access1 is disabled and Access2 is enabled, I only get

`esp-rfid/tag {"cmd":"log","uid":"3db","username":"henfri","access":"Disabled","time":1666716153}
`
of course, I could now react on the uid or so, but that woul

[2022-10-27 07:00] evazzoler commented on #492
Hi, I want to help making a recap in what happened these years with the pin "philosophy".
Just consider that some users are using esp-rfid in a real world, so changing the games make unusable new firmware with new changed "philosophy". I'm one of those. IMHO the PIN philosophy should be universal OR configurable.

**[1.3.1]**
Pin was supported, but every press of a digit was managed as a single co

[2022-10-27 08:39] dplicato commented on #492
@evazzoler Thank you for taking the time to write a so clean and helpful recap.

I totally agree!

Sounds perfect!

I need to use the pincode-only "version": can I ask you which commit of the 1.3.3 version are you using (and which board) to have a general stable environment?
Thank you!

[2022-10-27 08:47] matjack1 commented on #492
Thank you very much @evazzoler ! It's interesting also for me to understand the history of the project.

Just to understand, when you refer to 1.3.5, are you talking about the `dev` branch? Or the last stable build? Everything on the `dev` will go on a 2.0.0 version, for which I'm thinking about the user migration problem you are highlighting, I know about that :(

[2022-10-27 09:06] dplicato commented on #492
While waiting for @evazzoler reply, I guess he is referring about the dev branch that has a VERSION constant defined as 1.3.5, while the "stable" (branch) is versioned as 1.0.2 (and, FYI, has the keypad reading funcion implemented but broken, only the first keypress is recognized).

About the "retrocompatibility" problem, let me ask: it would be so difficult to re-implement the "universal logic" p

[2022-10-27 09:09] matjack1 commented on #492
sure it's possible, no problem, I think it has been removed for a security concern, but I plan to re-add it, after some previous @evazzoler comment :)

But I wouldn't advise to rollback to a previous commit of the `dev` branch as we are changing a few things.

I might be able to get the pincode support back in the next week or so, if that's fine.

[2022-10-27 09:19] dplicato commented on #492
Oh yes, I totally agree that the new pincode-only source code should integrate with the current dev branch.

Not only fine, it would be great, thank you!

dp

[2022-10-27 09:56] evazzoler commented on #492
I don't remember the exact commit, I remebrer that I downloaded the compiled binay, it was 1.3.3 and (for a mistake you will read 1.3.1 as version number but it's 1.3.3).

I attach the zipped bin for your convenience.

[generic.zip](https://github.com/esprfid/esp-rfid/files/9878214/generic.zip)

[2022-10-27 10:27] dplicato commented on #492
@evazzoler thank you very much.
Can I also ask you which esp board are you using? Thanks again!

[2022-10-27 10:51] evazzoler commented on #492
With 1.3.5 I refer to the dev, I'm testing periodically the dev because I'd love to put it in my real door ;-)
I test continuosly (with different readers I collect as a RFID-drug-addict) because I want to ensure that no old less used functions are lost. MQTT retro-compatibility is another important thing to consider. I've implemented a node-red system (based on the marelab fork) that basically has

[2022-10-28 20:59] matjack1 commented on #492
OK @evazzoler I better understand now. The `dev` is not going to be 1.3.5, but it's going to be a 2.0.0. And with the v2 we are going to introduce breaking changes. MQTT for sure it's going to change compared to v1 as we have changed quite a bit: https://github.com/esprfid/esp-rfid/pull/501

Unfortunately before it was grown organically and without a clear separation, that hopefully now should be

[2022-10-28 21:12] matjack1 commented on #539
hey @henfri I know about this :( I have a branch in the working: https://github.com/esprfid/esp-rfid/compare/dev...doorname where we add a name for each relay, and send all the open relays out via MQTT. This is going to be part of v2, so hopefully coming in the near future :)

[2022-10-29 11:04] henfri commented on #539
Thanks!

[2022-10-30 08:45] stupsi099 opened #542 "Reader HID multiclass SE RP10 not work"
with forV2Board Date 29.11.2019 the reader works as Wiegand - only webinterface is not stayable.
with update to newer build forV2Board or generic.bin i cant get the reader to work. Same Pinout same config - it wont work.
Reader Type= Wiegand
Pin D0= GPIO-5  green cabel from reader
Pin D1= GPIO-4  white cable from reader
Pin code request= false
WiFi LED= GPIO-2
Door Status Pin= GPIO-16 official boa

[2022-11-05 18:28] DivanX10 commented on #530
I express my gratitude to Aleks130699 for the working esp-rfid firmware. A similar topic was raised here [FIx Home Assistant integration ](https://github.com/esprfid/esp-rfid/pull/504 ). Now you can reboot the ESP board, there are sensors displaying the label. You can download the firmware from this [link](https://drive.google.com/drive/folders/15WgpG_04JhWDdBxhBjB9pIWSCzyGV4ll ). In the settings,

[2022-11-05 18:28] #530 closed, assigned to nobody

[2022-11-05 18:29] DivanX10 commented on #530
Now this is not required, you can just download the firmware from this [link](https://drive.google.com/drive/folders/15WgpG_04JhWDdBxhBjB9pIWSCzyGV4ll) and esp-rfid will appear in the Home Assistant

[2022-11-05 18:31] DivanX10 commented on #320
Now it is implemented, you can read the details [here](https://github.com/esprfid/esp-rfid/issues/530#issuecomment-1304606607)

[2022-11-06 14:48] matjack1 opened #545 "Manage official boards with presets"
Ship a series of presets of configurations to support official boards.

Instead of supporting build flags that add a lot of code duplication and are difficult to maintain, we could ship a series of configuration presets that can be selected from the web UI.

[2022-11-06 14:51] matjack1 commented on #542
Hey @stupsi099 could you please try using the latest dev build instead? You can find it here: https://github.com/esprfid/esp-rfid/actions/runs/3404792413 at the bottom of the page.

Let me know if that helps! Thanks.

[2022-11-06 15:15] matjack1 commented on #539
Hey @henfri I was wondering about the use case of having one relay to open and another one not. What's your use case for that?

@omersiar do you have references to why this was introduced?

I mean, if you have multiple doors to open to get somewhere passing an RFID tag, what will happen if you don't have a certain permission? That you are trapped somewhere? Wouldn't be more sensible to have multip

[2022-11-06 18:05] stupsi099 commented on #542
did not help - not work with the new version.
i set wlan to the internal led and can see the esp8266 is rebooting if you go to the log tab and switch between access and log tab...
-> i see fetching data -> reboot -> in log i see reboot!

14 | INFO | sys | System setup completed, running |   | 1
13 | INFO | wifi | WiFi is connected | WLanZ1 192.168.1.114 | 1
12 | INFO | door | Door Closed |   | 2
1

[2022-11-06 18:38] Aleks130699 commented on #506
Checked this change and it helps to restore the rc 522 reading, it is also possible that there are problems with at least one more rdm6300 reader, not yet checked

[2022-11-06 19:41] henfri commented on #539
Hi @matjack1 ,

:-) That's easy:
Left hand Fingerprint open Door of House
Right hand Fingerprint open Door of Garage

[2022-11-06 21:31] matjack1 commented on #539
Thank you @henfri!

So you have one sensor in that controls two relays in distant places? Wouldn't make more sense to have one esp-rfid for each door?

Bear in mind that the long wires that you need to connect to the esp-rfid have non-encrypted traffic, easy to read/write. What do you think?

[2022-11-06 21:34] matjack1 commented on #542
thank you for the feedback, I'm going to check

[2022-11-07 19:06] DivanX10 commented on #530
A working reboot command via the MQTT service for this [firmware](https://drive.google.com/drive/folders/15WgpG_04JhWDdBxhBjB9pIWSCzyGV4ll)

[code]

[2022-11-07 19:08] DivanX10 commented on #320
A working reboot command via the MQTT service for this [firmware](https://drive.google.com/drive/folders/15WgpG_04JhWDdBxhBjB9pIWSCzyGV4ll)

[code]

[2022-11-07 20:18] evazzoler commented on #530
I still don't understand the usefulness of restarting a working and responding device.
Please, erudite me!

[2022-11-07 20:29] Aleks130699 opened #546 "Fixing broken mfrc522 and rdm6300 scanners on the latest dev firmware"
Today I devoted all my free time to this project in search of problems in which my readers did not work, I fully studied the part of the code responsible for rfid, I was finally able to make everything work, the first problem due to which the readers did not show signs of life at all, as already written in other discussions #506, was the line rfidState = cardSwiped;, which was absent in the proces

[2022-11-07 20:33] matjack1 commented on #320
I'm going to close this now then

[2022-11-07 20:33] #320 closed, assigned to nobody

[2022-11-07 20:37] Aleks130699 commented on #546
#506

[2022-11-07 20:40] matjack1 commented on #546
Thank you for the details. I'm going to check this class of hardware soon. Surely before finalising the v2.

[2022-11-07 20:44] Aleks130699 commented on #546
@matjack1 i think this should be a higher priority fix, since without it, use with these modules is not possible

[2022-11-07 21:14] matjack1 commented on #546
I've done the easy part here: https://github.com/esprfid/esp-rfid/pull/547

But I'm not sure about the bug later on. This pulls the information from the user, so maybe there's a problem in your user database? Can you please double check if the user has the necessary data?

[2022-11-07 21:16] matjack1 commented on #530
@DivanX10 let us know what's your use case for this as I agree with @evazzoler, I cannot understand the purpose. Seems like we are trying to bypass fixing an error that you are experiencing? Would be nice to solve the root cause of the issue, rather than rebooting it to hide the problem.

[2022-11-07 21:18] Aleks130699 commented on #546
I completely deleted the entire database and wrote down new keys, and when it is set to Always, a reboot occurs, I checked all the necessary data.

[2022-11-07 21:21] Aleks130699 commented on #546
may have to record with a complete overwrite, so that there is definitely no data left from the old firmware

[2022-11-07 21:22] matjack1 commented on #546
Can you please share your settings? You can download them in the "Backup & Restore" section. I guess I have some different settngs than you.

[2022-11-07 21:27] Aleks130699 commented on #546
How can I send you files?

[2022-11-07 21:28] matjack1 commented on #546
You can add it here to the issue maybe? Or you can find my email in my profile here, if you prefer.

[2022-11-07 21:30] Aleks130699 commented on #546
https://drive.google.com/drive/folders/1wuRy19rJVwKxD3u9sp_rmJNV11avs_9_?usp=sharing

[2022-11-07 21:37] matjack1 commented on #546
ok, looks like you don't have the opening hours settings. Can you please go in the general settings page and check if that's selected?

In any case, this is a bug as we should support also previous configurations, as yours, without breaking. If you want to try also with the code in the PR here: #547 it might work! :)

[2022-11-07 21:37] DivanX10 commented on #530
I have a smart air freshener that works according to the Zigbee protocol and on batteries, and I am also in the process of creating a base for an air freshener, which will have a built-in MC RC522, wemos mini reader module and power is supplied to charge batteries in it, similar to a radiotelephone that stands at a telephone exchange. This air freshener refreshes the air in the toilet through both

[2022-11-07 21:45] Aleks130699 commented on #546
Yes, the settings page has all the checkmarks on the time, Okay, I'll try tomorrow with the changes, and with a full reset.

[2022-11-07 22:17] evazzoler commented on #530
Ok, your project is really amazing, really original and useful.
But there are some "but", IMHO:

- your are not using esp-rfid for the purpose for which it was intended

- esp-rfid is not intended to be powered by a battery

- you are rebooting the esp8266 for solving a problem that may exist in the reader and not in the board

- you are not fixing a issue but get around it, risking to create anot

[2022-11-07 22:52] DivanX10 commented on #530
I don't use esp-rfid to power the battery. Everyone has their own food. The air freshener is powered by disposable batteries, which last for 3 months.
![image](https://user-images.githubusercontent.com/64090632/200429902-a12b8c82-17d3-4e82-af4d-63d9c036a2ff.png)

With the new firmware, I haven't rebooted esp nodemcu v3 for two days and it's too early to talk about it, but it seems to be working fi

[2022-11-08 20:14] matjack1 commented on #530
Hey @DivanX10 but then, why don't you use the existing feature?

![immagine](https://user-images.githubusercontent.com/65402/200665647-f1b556cc-9076-46f8-8b69-b70250e6e3e3.png)

Wouldn't that solve your problem?

[2022-11-08 20:29] DivanX10 commented on #530
This restarts every 24 hours, and the hang occurs before 24 hours have passed and this option does not save the situation

[2022-11-08 21:45] matjack1 commented on #530
But didn't you say before that 2 days have passed and everything works fine?

How often would you like to reboot?

[2022-11-08 21:55] DivanX10 commented on #530
it's only been two days with the new firmware and so far everything is fine, today I updated my Home Assistant and the last state of the sensors went wrong. While I'm conducting surveillance. I didn't attach any importance to this before, until I noticed that the reader stops working. Now I will pay attention to this, but so far too little time has passed to claim that the firmware is working corr

[2022-11-09 10:40] Bertram-561 opened #548 "WLAN AP is not working"
I bought the esp-rfid Blue Board and powered it on and no Access Point to connect showed up. I flashed the firmware once again , still no AP. Is the board broken  or am I missing something ?
Regards
Bertram

[2022-11-09 12:55] Aleks130699 commented on #530
@matjack1 prior to this, @DivanX10 used the very first version 1.0.2, perhaps the hanging error was in it, as well as my assumption that this may happen due to the fact that the label is constantly near the reader, and this may cause problems

[2022-11-09 13:10] evazzoler commented on #530
And that can fry the label or at least shorten its life...

[2022-11-10 19:18] henfri commented on #539
Hello,

I also created an issue on this.
To make it very simple, I could imagine mis-using the Names of the fingerprints, e.g.

Paul Left Thumb (GPIO3)
Paul Right Thumb (GPIO4)
Marry Right Thumb
This would trigger GPIO3 if Paul uses his left thumb, GPIO4 on his Right Thumb and for Marry, it would only inform via mqtt.

Best regards,
Hendrik

[2022-11-10 20:22] matjack1 commented on #548
hey @Bertram-561 have you tried flashing a dev version? You can try the last one from here: https://github.com/esprfid/esp-rfid/actions/runs/3404792413

@nardev do you confirm that the latest dev build works on your blue board?

[2022-11-11 20:27] matjack1 commented on #492
@dplicato @evazzoler @gorstj @marktn @stupsi099 @t0bse @Leissson I have opened a PR here: https://github.com/esprfid/esp-rfid/pull/551 where you can pick the option between RFID/RFID + pincode/pincode only.

At the moment you can pick only one option, what do you think? Would you like to have more than one option active? At the moment you cannot have more than one option available, as it might be

[2022-11-11 20:28] matjack1 commented on #132
I'm closing this in favour of the more recent issue #492

Also now there's another PR open to cover different use cases of the pin code, here #551

[2022-11-11 20:28] #132 closed, assigned to nobody

[2022-11-11 21:33] evazzoler commented on #492
I actually use both PIN or Card/Fingerprint (Fingerprint is seen as a card) with the reader I posted here above.
My config needs to operate with PIN and Card, not PIN+Card. I think the best way would be to make a checkbox selection...

[2022-11-11 21:38] matjack1 commented on #492
The problem is not the UI, but rather the DB of users, that have hexadecimals ids (RFID card id), and cannot be entered with a decimal pin pad, right? How do you deal with that?

Do you have RFID users and pin users?

[2022-11-11 21:43] stupsi099 commented on #542
i try this build "Add pin code only option to open door #71 platformio
Option: RFID Card without asking Pin code

not working!! (users -> scanning card -> nothing, did not read)

br rupert

[2022-11-11 23:47] matjack1 commented on #331
Fixed here: https://github.com/esprfid/esp-rfid/pull/552

Can anyone please confirm?

[2022-11-11 23:47] matjack1 commented on #305
I've added support for this here: https://github.com/esprfid/esp-rfid/pull/552

[2022-11-13 10:05] evazzoler commented on #492
Correct: I have PIN users, RFID users and Fingerprint users. That was possibile until the RFID users DB was converted to HEX.
That choice was definitely wrong because introduced no important advantages and kill the possibility to use PIN only users or Fingerprint only users.

Plus you have to convert the old decimal DB to HEX or users willo loose access. Just mind about a 1000 users system...

[2022-11-13 16:12] dplicato commented on #492
The "desiderata" for me would be having PIN users and RFID users as also stated by @evazzoler, PIN and Cards should work independently of each other.  This logic was working ok until PR #476 in date 2022-02-04.
I think the same as @evazzoler about the fact that there is no advantage on having different storage encodings for PIN and RFID, so I would revert the logic on having all users, PIN and RFI

[2022-11-15 09:19] matjack1 commented on #492
hey @dplicato @evazzoler I've added a commit on https://github.com/esprfid/esp-rfid/pull/551 that does multiple things:
- adds support for pin-code only AND RFID card with pin-code
- lets you pick if you want to read in hex or decimal the RFID card

![immagine](https://user-images.githubusercontent.com/65402/201880025-3d6691b8-d719-436a-87a8-5052b04fbfb6.png)

The default should be hex so that you

[2022-11-15 20:35] evazzoler commented on #492
Super, good job!
Tomorrow I'll start testing it!
Thank you!

Il 15/11/22 10:19, Matteo Giaccone ha scritto:

[2022-11-16 11:36] dplicato commented on #492
Great job Matteo!
I sterted testing yesterday, I need 2/3 days to perform some deep testing and I'll be back to you with my feedbacks.
Thanks.

[2022-11-16 13:24] dplicato opened #553 "Wifi-fallback mode UI radio button"
Hi,
the Wifi-fallback model radio "disabled" option is checked even if the config has the fallback mode enabled.

Tested on #35908ea commit.

[2022-11-17 08:44] rktaiwala commented on #441
Could you please share more details?

[2022-11-17 08:44] rktaiwala commented on #441
Could you please share more details?

[2022-11-17 19:58] #553 closed, assigned to nobody

[2022-11-18 08:25] matjack1 commented on #530
@DivanX10 how is it going? Instead of the MQTT reboot, you can have a look at this: https://github.com/esprfid/esp-rfid/pull/552 :)

[2022-11-18 08:41] windy54 opened #556 "Incorrect UID read with Wiegand 32 bit device - anyone know protocol"
We currently use a 522 reader and have been donated several Wiegand devices.

These output 32 bits when a card is read.

The displayed UID is totally different to the UID stored on the card.

I have investigated the code and have a fix but this is to the Wiegand.cpp library file not the esp-rfid code.

If we had not already been using a 522 reader this issue would never have arisen.

So my questio

[2022-11-18 10:28] evazzoler commented on #556
Try to check if D0 and D1 are inverted.

[2022-11-18 10:39] evazzoler commented on #492
@matjack1,
I've done some test all seems to work great!
There is only one thing I woud modify:

When:

_User ID storage is set to Decimal
Require pin code is set to true
Allow pin code only is set to true_

In this case:

1. I put the pin code (user ID) and direct open
2. I swap the card with a pin set, then put the pin and open
3. I swap a card with undefined pin and i have to press # for opening

[2022-11-18 11:53] windy54 commented on #556
They are okay, I originally had them inverted on my logic analyser. When I work through manually the errors occur when the last bit is read in.

Sent from my iPhone

[2022-11-18 21:32] matjack1 commented on #492
thank  you @evazzoler

actually I didn't think about this, I was thinking that a pin was required, and if a pin is not entered it wouldn't open the door, but probably what you are saying makes more sense. I'll fix it :)

[2022-11-19 00:06] DivanX10 commented on #530
Hello. When I checked 4 days later, it fell off, I won't say exactly on what day. Sensors were unavailable in the Home Assistant. I rebooted the board via the web console and the reader started working again.

[2022-11-19 00:08] DivanX10 commented on #530
I see that you have fixed something there. The firmware file itself from where can I download it?

[2022-11-20 12:29] dplicato commented on #492
Hi @matjack1,
Finally I found time enough to perform some testing and everything is working fine and as expected, I swapped different pin configurations and did several trials with successfull results.
Wonderful, keep pushing!

[2022-11-20 19:14] windy54 opened #557 "Still cannot restore users with over 100"
I have re-opened this issue, see 448.

Background.
We currently use the software with a 522 reader and have 120 Hackspace members.
A member has just donated several wiegand readers and I have been investigating what we have to do .
For information, it is a wiegand 32 bit reader and I have had to modify the wiegand library. The 522 reader outputs the UID in little median format, the wiegand in big

[2022-11-20 21:08] matjack1 commented on #557
@windy54 are you using the backup/restore functionality? I've never tried it, I'll try with a test file of around 100 users and I'll let you know

[2022-11-20 21:10] matjack1 commented on #530
@DivanX10 you can try the latest dev build from here: https://github.com/esprfid/esp-rfid/suites/9369310704/artifacts/441298681

Try the auto-reboot functionality, it should work now :)

[2022-11-20 22:28] windy54 commented on #557
Yes, I have tried it from a raspberry PI and Mac, using chromium, chrome and safari.

Cheers
Steve Gale

[2022-11-21 02:16] DivanX10 commented on #530
Thanks. Good. I will try and I need a few days to check to see how the reader works with esp rfid

[2022-11-21 21:18] matjack1 commented on #479
hey @rodrigodc299 sorry for the delay. I don't think you need to install node if you are using the executables.

Either you use the raw executables or you use nodejs. If you use nodejs directly you should go to the `tools/webfilesbulider` folder in the terminal, install the dependencies with `npm install` and run `npm start` to bundle everything.

Let me know if that works.

With the executable in

[2022-11-22 14:52] DivanX10 commented on #530
I filled in the firmware. The device did not appear in Home Assistant, although the esprfidhomeassistant topic appeared in mqtt explorer, you probably forgot to add Discovery.  I rolled back to my firmware and the device appeared in the Home Assistant. Also, a certain label should be reset in the sensor. For example, a label has been detected and the name of the label is displayed in the sensor, t

[2022-11-22 16:36] Aleks130699 commented on #530
This error has been corrected in my PR #549, which has not yet been accepted for work.

[2022-11-22 16:38] matjack1 commented on #530
thanks @Aleks130699 I've started working on the HomeAssistant integration as well. There are things that your PR fixes, but there's something else as well. That's why it's not merged yet. I'm going to work on that soon, bear with me

[2022-11-22 16:45] Aleks130699 commented on #530
@matjack1 Regarding my PR, I really don’t know why support for several relays was once introduced and how it can be applied in practice, personally, in principle, I no longer have free ports that could somehow be used, I finalized their support  just because it was made

[2022-11-22 20:44] matjack1 opened #558 "Pin Layout mistake for RDM6300"
### Discussed in https://github.com/esprfid/esp-rfid/discussions/529

<div type='discussions-op-text'>

<sup>Originally posted by **shaposhnikow** September  2, 2022</sup>
I connected the RDM6300 reader as indicated in the table - nothing worked. Found an error: instead of D5 (GPIO-14) TX RDM6300 must be connected to RXD0 (GPIO-03). So everything works correctly.</div>

[2022-11-22 20:51] matjack1 commented on #331
I'm closing this, in case anyone has problems, please reopen!

[2022-11-22 20:51] #331 closed, assigned to nobody

[2022-11-22 20:51] matjack1 commented on #305
It's now merged on `dev` :)

I'm closing this, if anyone has problems though, please reopen!

[2022-11-22 20:51] #305 closed, assigned to nobody

[2022-11-22 20:52] matjack1 commented on #530
The fixed autorestart is now merged on the `dev` branch :)

[2022-11-22 21:58] matjack1 commented on #492
ok @evazzoler I should have added support also for the last use case, so user with no pin code, when pin code is required. In this case if you swipe the card of a user that doesn't have a pin code associated, it goes straight to processing mode. It doesn't wait for the empty enter, I thought it wasn't necessary, but let me know if you think differently.

It's ready on the usual PR :)

[2022-11-23 08:03] evazzoler commented on #530
Multiple relays can be used to open different doors with different badges and a single reader (offices, corridors, etc.), or to enable some badges to deactivate an alarm system and others only to open the door, etc.
It is a solution that makes esp-rfid more versatile and adaptable to the needs of users who would otherwise be forced to choose commercial products.

[2022-11-23 08:07] matjack1 commented on #530
After our chat I'm convinced it's useful, it just need to be checked around as sometimes the assumption is that multiple relays are driving the same "door".

[2022-11-23 09:35] evazzoler commented on #492
@matjack1 I've tested the latest release and I confirm that it is working like a charm!
Users can now have pincodes only, fingerprint with or without pin confirmation and rfid tags with or without pin confirmation. This not affect the sercurity (you can choose to disable some functions) and give to esp-rfid a great flexibility! I want to say "thanks" and "compliments" to you: you solved an old imp

[2022-11-23 18:01] #492 closed, assigned to nobody

[2022-11-23 19:03] gorstj commented on #492
Thanks also for sorting this.
I can't find any compiled recent firmware's that may include these changes - any pointers?

[2022-11-23 19:04] matjack1 commented on #492
sure @gorstj you can find it at the bottom of the page here: https://github.com/esprfid/esp-rfid/actions/runs/3534551723 :)

[2022-11-26 08:51] windy54 commented on #331
I have just tried it and it did not re-start. It was supposed to re-set
every 24 hours but has been up for over a day.

I will check the code later on and confirm i have got the latest
development build.

Steve

On Fri, 11 Nov 2022 at 23:47, Matteo Giaccone ***@***.***>
wrote:

[2022-11-26 11:13] windy54 commented on #331
Ignore my email, I have jus5 checked the code and have not got the latest, having reviewed the code it will work restart time is in seconds and that is wha5 uptime returns.

Apologies for confusion

Cheers
Steve Gale

[2022-11-26 20:39] matjack1 commented on #331
Thank you for checking, very appreciated!

[2022-11-29 21:00] matjack1 commented on #312
hey @peteshoard I'm sorry about your problem, but this issue is very old and apparently was hardware related.

I'm going to close this now, but if you are still interested or have problems, feel free to reopen.

[2022-11-29 21:00] #312 closed, assigned to nobody

[2022-11-29 21:01] matjack1 commented on #309
In the `dev` branch the full MQTT documentation is ready: https://github.com/esprfid/esp-rfid/blob/dev/README-MQTT.md

[2022-11-29 21:01] #309 closed, assigned to nobody

[2022-11-29 21:02] matjack1 commented on #306
This is now available on the `dev` branch!

[2022-11-29 21:02] #306 closed, assigned to nobody